
<!DOCTYPE html>
<html>
<head>
  <title>BondRobotics</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <script src="https://kit.fontawesome.com/fbfdd5a072.js" crossorigin="anonymous"></script>
  <style>

  body,h1 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
  .bgimg {
    background-image: url('/static/SinclairPython_logo.JPG');
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }

  .BR_title {
    font-size: 100px;
  }

  </style>
</head>

<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-black">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <a href="{{ url_for('home') }}" class="w3-hover-text-blue">
      SINCLAIR PYTHON AKOTO
    </a>
  </div>
  <div class="w3-display-middle w3-hover-text-purple">
    <div class="BR_title">
      <h1 class="w3-jumbo w3-animate-top">BondRobotics</h1>
    </div>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Coming soon!</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    <p>Find me on social media.</p>
    <a href="#"><i class="fab fa-facebook-f w3-hover-text-blue"></i></a>
    <a href="#"><i class="fab fa-instagram w3-hover-text-blue"></i></a>
    <a href="#"><i class="fab fa-snapchat w3-hover-text-blue"></i></a>
    <a href="https://github.com/SinclairPythonAkoto"><i class="fab fa-github w3-hover-text-blue"></i></a>
    <a href="#"><i class="fab fa-twitter w3-hover-text-blue"></i></a>
    <a href="https://www.linkedin.com/in/sinclair-akoto-a6997a146/"><i class="fab fa-linkedin w3-hover-text-blue"></i></a>
  </div>
</div>

</body>
</html>
