{% extends "layout.html" %}

{% block content %}

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/static/SinPic.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>Sinclair Akoto</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fas fa-laptop-code fa-fw w3-margin-right w3-large w3-text-teal"></i>Python / Mobile App / Web Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>London, UK</p>
          <p><i class="fas fa-at fa-fw w3-margin-right w3-large w3-text-teal"></i>sinclair.python@gmail.com</p>
          <p>
            <a href="https://sinclairconnect.herokuapp.com/textMe" class="w3-text-green">
              <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>07481790498
            </a>
          </p>
          <hr>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p><i class="fab fa-python w3-margin-right"></i>Python & Flask</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:45%">45%</div>
          </div>
          <p><i class="fas fa-mobile-alt w3-margin-right"></i>Google Flutter</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:15%">
              <div class="w3-center w3-text-white">15%</div>
            </div>
          </div>
          <p><i class="fas fa-box-open w3-margin-right"></i>SQL</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:37%">37%</div>
          </div>
          <p><i class="fab fa-html5 w3-margin-right"></i>HTML</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:32%">32%</div>
          </div>
          <p><i class="fab fa-css3 w3-margin-right"></i>CSS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:20%">20%</div>
          </div>
          <br>


        </div>
        <br>
      </div><br>

      <div class="w3-white w3-text-grey w3-card-4"">
        <div class="w3-container">
          <b>
            <h2><i class="fas fa-eye w3-margin-right"></i>Summary</h2>
          </b>
            <p>
              I am a capable, enthusiastic and confident individual, with strong interpersonal & communication skills.
              Being computer literate, self-motivated, and priding myself with a dedicated, committed and hardworking
              approach to any situation or scenario I am in, would also be considered a unique skill of mine.
              I am able to work under pressure and to tight deadlines (both on my own initiative and in a team environment),
              with proven experience in a corperate office environment. I would also concider myself to have an excellent
              attention to detail coupled with strong organisation skills.
            </p>
            <b><hr></b>
            <p>
              With a genuine dedication to Python & coding, I would relish the opportunity to be able to work in an
              collaborative envrionment and learn as many technical skills as possible to enhance my coding ablility
              and to contribute even more to the team I work with.
            </p>
        </div>
      </div><br>

      <div class="w3-white w3-text-grey w3-card-4"">
        <div class="w3-container">
          <b>
            <h2><i class="fas fa-file-download w3-margin-right"></i>Download CV</h2>
          </b>
            <p>
              Click on the image below to download my CV!
            </p>

            <p>
              <a href="/static/SinclairAkotoCV.pdf" download>
                <img src="/static/SinclairCV.png" alt="SinclairAkotoCV" width="254" height="142">
              </a>
            </p>
            <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>


    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-award fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Key Achievements</h2>
        <div class="w3-container w3-margin-bottom">
          <ul>
            <li>
              The confidence to find a solution when I come across bug errors and other discrepancies.  Due to my high use of trial and
              error when coding, it may sometimes take me a while to solve a problem within a code.  However, I do not see this as a
              disadvantage, but rather an advantage where I am taking a detailed approach to find a solution and remembering how to
              remedy it when a resolution is found.
            </li>
            <li>
              Built my first program in under 6 weeks.  This program is called <strong>EasyCHEF!</strong> and it is deployed locally from my laptop.
            </li>
            <li>
              The EasyCHEF! web app is slightly different; it uses an API to retrieve a recipe then display only the name of recipe,
              cooking method and web page back to the user.  I will test different ways how my web app can interact with API's to produce a more
              detailed & intricate search for recipes.<br><br>
              You can test the EasyCHEF! web app <a href="https://easychef-01.herokuapp.com" class="w3-text-green">here</a><br><br>
              You can view the code for the web app on GitHub <a href="https://github.com/SinclairPythonAkoto/easychef-01" class="w3-text-green">here</a>.
            </li><br>
            <li>
              <strong>Feedback Forms:</strong>
              Developed a feedback form for a shisha bar/restuarant (<a href="http://www.aurous79.com/" class="w3-text-green">Aurous79</a>).  The (previous) owner
              at the time wanted a way to collect customers' details by giving them dicsounts on their bills as an incentive.  I suggested a
              feedback form where he could ask questions related to his buiness/customer service, and also gain the opportunity to collate
              customer information.  Once they enter their details (such as name & email), they will recieve an automated email once the
              feedback form has been completed.  The owners can then log into the admin page with their username & password, and run a report
              with the information given, and harvest their customer information for future promotions & advertisement.
            </li>
            <li>
              The information is stored into a database and then reloaded back onto the HTML page for the user to see.<br><br>
              You can view my code on GitHub <a href="https://github.com/SinclairPythonAkoto/aurous-email-0.2" class="w3-text-green">here</a>.
              This uses an SQLite3 database which can be run from your local computer.<br><br>
              You can test out the online Aurous79 Feedback Form <a href="https://aurous79feedback.herokuapp.com" class="w3-text-green">here</a>.
              This uses a PostgreSQL database which is connected to the app through a remote server online.
            </li><br>
            <li>
              <strong>Spreadsheet Compiler:</strong>
              Built a <a href="https://jobs-log.herokuapp.com/" class="w3-text-green">Jobs Log</a> which is an app that easily helps the user
              to complie information into one spreadsheet.  This <a href="https://jobs-log.herokuapp.com/" class="w3-text-green">Jobs Log</a>
              has a row of columns that the user fills in (in this case an Audio Visual department); when the log is
              submitted it is stored into a (remote PostgreSQL) database and then uploaded back onto the same page.
              Every new log entered creates a new row in the table below.  The AV department can then run reports from the
              different columns (such as the type of job and the outcome of each job).<br><br>
              You can view my code on GitHub <a href="https://github.com/SinclairPythonAkoto/jobs-log" class="w3-text-green">here</a>.<br><br>
              You can test out the Jobs Log <a href="https://jobs-log.herokuapp.com/" class="w3-text-green">here</a>.
            </li>
          </ul>
        </div>
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-laptop-code fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Key Skills</h2>
        <div class="w3-container w3-margin-bottom">
          <ul>
            <li>Python & Flask</li>
            <li>Building web apps with
              <a href="https://sinclairconnect.herokuapp.com/" class="w3-text-green">
                API's
              </a>
            </li>
            <li>SQL - PostgresSQL, SQLite3, MySQL</li>
            <li>Git / Bash / GitHub</li>
            <li>Heroku server</li>
            <li>Data collation / Data Migration</li>
            <li>Relational Databases</li>
            <li>Object Orientated Programming</li>
            <li>Data Visualisation - Building Plotly / Dash graphs</li>
            <li>Attention to detail</li>
            <li>Highly self motivated, can also work well in a team</li>
            <li>Willingness to learn & adapt</li>
          </ul>
        </div>
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Security Officer /
              <a href="https://www2.deloitte.com/content/campaigns/uk/insurancetrends/insurancetrends/insurancetrends.html" class="w3-text-green">
                Deloitte (London)
              </a>
            </b>
          </h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2018 - <span class="w3-tag w3-teal w3-round">Present</span></h6>
          <p>
            <ul>
              <li>Access control, concierge service, interior patrols, ensuring public safety</li>
              <li>Floor walking / Floor patrols</li>
              <li>Incident reporting</li>
              <li>Ensuring staff members are allocated in correct positions</li>
            </ul>
          </p>
          <p>
            <i>Accomplishments</i>
            <ul>
              <li>Gained some training in control room duties, also trained new operatives fire escape & emergency procedures</li>
            </ul>
          </p>
          <p>
            <i>Skills Used</i>
            <ul>
              <li>Paying attention to detail, working as an individual or as part of a team; as well as upkeeping high standards in communication, organisation & time keeping</li>
            </ul>
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Security Officer /
              <a href="https://www.willistowerswatson.com/en-GB" class="w3-text-green">
                Willis Towers Watson (London)
              </a>
            </b>
          </h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>April 2016 - August 2018</h6>
          <p>
            <ul>
              <li>Access control, CCTV patrols, interior & exterior patrols</li>
              <li>Control room duties</li>
              <li>Hotel concierge service & client/customer service</li>
              <li>Ensuring public safety</li>
            </ul>
          </p>
          <p>
            <i>Accomplishments</i>
            <ul>
              <li>Cover supervisor role & training new security operatives on site</li>
            </ul>
          </p>
          <p>
            <i>Skills Used</i>
            <ul>
              <li>Paying attention to detail, working as an individual or as part of a team, communication, organisation & time keeping are essential in the security industry - as this could effect other colleagues if high standards are not kept</li>
            </ul>
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Lighting Technician / (
              <a href="https://www.imdb.com/find?ref_=nv_sr_fn&q=sinclair+akoto&s=all" class="w3-text-green">
                Spark
              </a>
               on film sets)
            </b>
          </h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>April 2016 - August 2018</h6>
          <p>
            <ul>
              <li>Safely setting up lighting equipment on a film set</li>
              <li>Use technical skills to create character & dimension to a scene</li>
              <li>Making sure the lighting set up is safe and not hazadous for any other film crew on set</li>
              <li>Making sure the job is quickly and safely completed, often to a very tight schedule</li>
            </ul>
          </p>
          <p>
            <i>Accomplishments</i>
            <ul>
              <li>Producing creativity into a filmset, adhering to a scrict deadline, and the ability to think quickly outside the box in order to find a solution to a problem</li>
            </ul>
          </p>
          <p>
            <i>Skills Used</i>
            <ul>
              <li>Being able to work with a large amount of people from different backgrounds, working individually to effectively get the job done as a team.  Project knowledge, communication skills and being able to think on my feet are also an essential skill in the film industry</li>
            </ul>
          </p>
          <hr>
        </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-user-graduate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>
              <a href="https://www2.mmu.ac.uk/" class="w3-text-green">
                Manchester Metropolitan University
              </a>
            </b>
          </h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2008 - 2010</h6>
          <p>Foundation Degree in Film & Televsion Broadcast Media</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>
              <a href="https://stockport.ac.uk/" class="w3-text-green">
                Stockport College
              </a>
            </b>
          </h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2006 - 2008</h6>
          <p>National Diploma in Media: Moving Images</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>
              <a href="http://wrightrobinson.co.uk/" class="w3-text-green">
                Wright Robinson College
              </a>
            </b>
          </h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1998 - 2003</h6>
          <p>8 GCSE's (Maths, English Language, English Literature, Double Award Science)</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

{% endblock %}
