{% extends "demoshop_layout.html" %}

{% block meta %}
<title>
  Jackets, Trousers, Shirts, T-Shirts etc | My Demo Shop
</title>
<link rel="icon" href="static/demoshop/demoshop_icon.jpg">
<meta name="description" content="A demo version of an e-commerce retail store">
<meta name="keywords" content="BondRobotics,demo, retail, e-commerce, fashion, fashion store, retail shop, demo shop, web app, Stripe payments, single payment, online payments, My Demo Shop">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow">
<meta name="og:type" content="website" />
<meta name="og:title" content="Retail shop | My Demo Shop Homepage | BondRobotics" />
<meta name="og:url" content="https://www.sinclair.codes/demoshop" />
<meta name="og:image" content="http://www.sinclair.codes/demoshop/demoshop_icon.jpg" />
<meta name="og:image:secure-url" content="https://www.sinclair.codes/demoshop/demoshop_icon.jpg" />
<meta name="og:image:type" content="image/jpg" />
<meta name="og:image:width" content="300" />
<meta name="og:image:length" content="300" />
<meta name="og:description" content="A demo version of an online fashion retail store, which customers can select an item to purchase. This web app is designed to take single payments through Stripe." />
{% endblock %}

{% block header %}
<!-- Image header -->
<div class="w3-display-container w3-container">
  <img src="static/demoshop/demoshop_Image.jpg" alt="demoshop_Image" style="width:100%">
</div>
{% endblock %}

{% block content %}
<!-- Product grid -->
<div>
  <p>
    Welcome to My Demo Shop. This has been created to test my ability to take online payments via an
    external secure payment system called <a href="https://stripe.com/gb">Stripe</a>.
  </p>
  <p>
    The objective of this web app is to mimic the basic concept of taking a single transaction online,
    collecting the customers details (such as email and address for the reciept & product to be sent to),
    and subscribing to a newsletter/subriction.
  </p>
  <p>
    Feel free to test out the web app; you can also leave a comment/review by clicking <a href="https://www.bondrobotics.tech/#contact">here</a>.
  </p>
</div>
{% endblock %}
