{% extends "layout.html" %}

{% block content %}

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">SINCLAIR AKOTO</h3>
  <p class="w3-center"><em>"If you can think it, you can build it."</em></p>
  <p>
    Welcome to my portfolio where you can view the web apps that I have created and also view my CV wich is available to download!
  </p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <!-- <p><b><i class="fa fa-user w3-margin-right"></i>Sinclair Akoto</b></p><br> -->
      <img src="/static/SInFacebook.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="MyPhoto" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>
        This portfolio is constructed by using Python which enables me to execute condional logic within the pages.  This is particularly
        useful for my 'Sinclair Connect' page that uses an API to send text SMS to a UK number.  Python has many benefits beyond web
        developing, such as machine learning, analytics and even drone technology - all of which I plan to get acquainted with as my
        skills progress.
      </p>
    </div>
  </div>
  <p class="w3-large w3-center w3-padding-16">My skills</p>
  <div class="w3-col m6">
      <p class="w3-wide"><i class="fab fa-python w3-margin-right"></i>Python & Flask</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:25%">25%</div>
      </div>
      <p class="w3-wide"><i class="fas fa-mobile-alt w3-margin-right"></i>Google Flutter</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:10%">10%</div>
      </div>
      <p class="w3-wide"><i class="fas fa-box-open w3-margin-right"></i>SQL</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:20%">20%</div>
      </div>
      <p class="w3-wide"><i class="fab fa-html5 w3-margin-right"></i>HTML</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:20%">20%</div>
      </div>
      <p class="w3-wide"><i class="fab fa-css3 w3-margin-right"></i>CSS</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:10%">10%</div>
      </div>
    </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter">
    <span class="w3-xxlarge">3+</span>
    <br>Languages
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">7+</span>
    <br>Projects
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">20+</span>
    <br>Repositories on GitHub
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <!-- <span class="w3-xxlarge w3-text-white w3-wide">PORTFOLIO</span> -->
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="myWork">
  <h3 class="w3-center">MY WORK</h3>
  <p class="w3-center"><em>Here you can preview the web apps I have made!<br> Click on the links below to view each web app.</em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center">
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col l3 m6">
      <img src="/static/portfolio/jobs_log.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Jobs Log">
      <a href="https://jobs-log.herokuapp.com/">Jobs Log</a>
    </div>
    <div class="w3-col l3 m6">
      <img src="/static/portfolio/sinConnect_2.JPG" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Sinclair Connect">
      <a href="{{ url_for('SinclairConnect') }}">Sinclair Connect</a>
    </div>
    <div class="w3-col l3 m6">
      <img src="/static/portfolio/jonny.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Jonny And Friends For Autism">
      <a href="https://jaffautism.herokuapp.com/">Jonny And Friends For Autism</a>
    </div>
    <div class="w3-col l3 m6">
      <img src="/static/portfolio/graph.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Flask-Dash">
      <a href="https://flask-dash-sin.herokuapp.com/">Dash Graphs</a>
    </div>
    <div class="w3-col l3 m6">
      <img src="/static/portfolio/aurous.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Aurous79 Feedback Form">
      <a href="https://aurous79feedback.herokuapp.com/feedback">Aurous79 Feedback</a>
    </div>
  </div>
  </div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <!-- <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span> -->
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">Contact details</h3>
  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <img src="/static/city-of-london.jpg" class="w3-image w3-round" style="width:100%">
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> London, UK<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Mobile:
        <a href="{{ url_for('SinclairConnect') }}">
          <b title="Click to send a text!">07481790498</b>
        </a><br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: sinclair.python@gmail.com<br>
      </div>
    </div>
  </div>
</div>

{% endblock %}
