
<!DOCTYPE html>
<html>
<head>
  <title>My Digital Buisnesscard App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
  body {font-size: 16px;}
  img {margin-bottom: -8px;}
  .mySlides {display: none;}
  </style>
  <script src="https://kit.fontawesome.com/fbfdd5a072.js" crossorigin="anonymous"></script>
</head>

<body class="w3-content w3-black" style="max-width:1500px;">

<!-- Header with Slideshow -->
<header class="w3-display-container w3-center">
  <button class="w3-button w3-block w3-green w3-hide-large w3-hide-medium" onclick="document.getElementById('download').style.display='block'">Download <i class="fab fa-android"></i> <i class="fab fa-apple"></i> <i class="fab fa-windows"></i></button>
  <div class="mySlides w3-animate-opacity">
    <img class="w3-image" src="/static/mdb_logo.JPG" alt="MDBpic" style="min-width:500px" width="1500" height="1000">
    <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
      <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-medium w3-round-large">
        <h1 class="w3-xlarge">Sharing is caring</h1>
        <hr class="w3-opacity">
        <p>Share your business card easily amongst others</p>
        <p><button class="w3-button w3-block w3-green w3-round" onclick="document.getElementById('download').style.display='block'">Download <i class="fab fa-android"></i> <i class="fab fa-apple"></i> <i class="fab fa-windows"></i></button></p>
      </div>
    </div>
  </div>
  <div class="mySlides w3-animate-opacity">
    <img class="w3-image" src="/static/black_caller.jpg" alt="BlackMan_caller" style="min-width:500px" width="1500" height="1000">
    <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
      <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-medium w3-round-large">
        <h1 class="w3-xlarge w3-text-red">Fast & Easy Connectivity</h1>
        <hr class="w3-opacity">
        <p>Call, text, email easily at a touch of a button!</p>
        <p><button class="w3-button w3-block w3-red w3-round" onclick="document.getElementById('download').style.display='block'">Download <i class="fab fa-android"></i> <i class="fab fa-apple"></i> <i class="fab fa-windows"></i></button></p>
      </div>
    </div>
  </div>
  <div class="mySlides w3-animate-opacity">
    <img class="w3-image" src="/static/phone_map.jpeg" alt="Image 3" style="min-width:500px" width="1500" height="1000">
    <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
      <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-medium w3-round-large">
        <h1 class="w3-xlarge">Find Your Way</h1>
        <hr class="w3-opacity">
        <p>Built-in directions so you never get lost!</p>
        <p><button class="w3-button w3-block w3-indigo w3-round" onclick="document.getElementById('download').style.display='block'">Download <i class="fab fa-android"></i> <i class="fab fa-apple"></i> <i class="fab fa-windows"></i></button></p>
      </div>
    </div>
  </div>
  <a class="w3-button w3-black w3-display-right w3-margin-right w3-round w3-hide-small w3-hover-light-grey" onclick="plusDivs(1)">Take a Tour <i class="fa fa-angle-right"></i></a>
  <a class="w3-button w3-block w3-black w3-hide-large w3-hide-medium" onclick="plusDivs(1)">Take a Tour <i class="fa fa-angle-right"></i></a>
</header>

<!-- The App Section -->
<div class="w3-padding-64 w3-white">
  <div class="w3-row-padding">
    <div class="w3-col l8 m6">
      <h1 class="w3-xxxlarge"><b>My Digital Businesscard</b></h1>
      <h1 class="w3-xlarge w3-text-green"><b>Business connections made easy</b></h1>
      <p>
        If you're not a fan of slugging around businesscards in your pocket or always seem to be running out of them when you need them the most, then
        My Digital Businesscard app is just right for you!  By digitising your businesscard into one simple app, you can give your clients
        quick and easy access to your business with a touch of a button.<br><br>
        Never run out of businesscards or miss an opportunity to make potential new client with My Digital Businesscard app.<br>
        <span class="w3-xlarge w3-text-green"><b>Take your business to the next level with My Digital Businesscard!</b></span>
      </p>
      <button class="w3-button w3-light-grey w3-padding-large w3-section w3-hide-small" onclick="document.getElementById('download').style.display='block'">
        <i class="fa fa-download"></i> Download Application
      </button>
      <p>Available for <i class="fab fa-android w3-xlarge w3-text-green"></i> <i class="fab fa-apple w3-xlarge"></i> <i class="fab fa-windows w3-xlarge w3-text-blue"></i></p>
    </div>
    <div class="w3-col l4 m6">
      <img src="/static/share_card.jpg" class="w3-image w3-right w3-hide-small" width="335" height="471">
      <div class="w3-center w3-hide-large w3-hide-medium">
        <button class="w3-button w3-block w3-padding-large" onclick="document.getElementById('download').style.display='block'">
          <i class="fa fa-download"></i> Download Application
        </button>
        <img src="/static/share_mobile.jpg" class="w3-image w3-margin-top" width="335" height="471">
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="download" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('download').style.display='none'" class="fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-xlarge"></i>
      <h2 class="w3-wide">DOWNLOAD</h2>
      <p>Download the app in AppStore, Google Play or Microsoft Store.</p>
      <i class="fab fa-android w3-large"></i> <i class="fab fa-apple w3-large"></i> <i class="fab fa-windows w3-large"></i>
      <p><input class="w3-input w3-border" type="text" placeholder="Enter email"></p>
      <button type="button" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('download').style.display='none'">Not available to download yet!</button>
    </div>
  </div>
</div>

<!-- Clarity Section -->
<div class="w3-padding-64 w3-light-grey">
  <div class="w3-row-padding">
    <div class="w3-col l4 m6">
      <img class="w3-image w3-round-large w3-hide-small w3-grayscale" src="/static/share_mobile.jpg" alt="App" width="335" height="471">
    </div>
    <div class="w3-col l8 m6">
      <h1 class="w3-jumbo"><b>Join the Revolution!</b></h1>
      <h1 class="w3-xxxlarge w3-text-red"><b>The smart way to do business</b></h1>
      <p>
        <span class="w3-xlarge w3-text-green">Reduce your carbon footprint</span>
         by converting your business card into one simple app! With a touch of a button your clients
         can call, text, message & email you easily and seamlessly; and with our QR code sharing the
         app is quicker than saving a number into your phone!<br><br>
      </p>
    </div>
  </div>
</div>

<!-- Features Section -->
<div class="w3-container w3-padding-64 w3-dark-grey w3-center">
  <h1 class="w3-jumbo"><b>Features</b></h1>
  <p>Here are some features on the app</p>

  <div class="w3-row" style="margin-top:64px">
    <div class="w3-col s3">
      <i class="fas fa-phone-volume w3-text-red w3-jumbo"></i>
      <p>Call</p>
    </div>
    <div class="w3-col s3">
      <i class="fas fa-sms w3-text-green w3-jumbo"></i>
      <p>Text</p>
    </div>
    <div class="w3-col s3">
      <i class="fas fa-at w3-text-white w3-jumbo"></i>
      <p>Email</p>
    </div>
    <div class="w3-col s3">
      <i class="fas fa-globe w3-text-blue w3-jumbo"></i>
      <p>Web</p>
    </div>
  </div>

  <div class="w3-row" style="margin-top:64px">
    <div class="w3-col s3">
      <i class="fas fa-map-signs w3-text-amber w3-jumbo"></i>
      <p>Map</p>
    </div>
    <div class="w3-col s3">
      <i class="fas fa-heart w3-text-red w3-jumbo"></i>
      <p>Easy to use</p>
    </div>
    <div class="w3-col s3">
      <i class="fas fa-download w3-text-orange w3-jumbo"></i>
      <p>Easy to download</p>
    </div>
    <div class="w3-col s3">
      <i class="fas fa-qrcode w3-text-white w3-jumbo"></i>
      <p>Share with QR code</p>
    </div>
  </div>

  <div class="w3-row" style="margin-top:64px">
    <div class="w3-col s3">
      <i class="fas fa-bolt w3-text-orange w3-jumbo"></i>
      <p>Fast</p>
    </div>
    <div class="w3-col s3">
      <i class="fas fa-globe-europe w3-text-green w3-jumbo"></i>
      <p>Use anywhere in the world</p>
    </div>
    <div class="w3-col s3">
      <i class="fas fa-shield-alt w3-text-purple w3-jumbo"></i>
      <p>Stable</p>
    </div>
    <div class="w3-col s3">
      <i class="fas fa-user-shield w3-text-amber w3-jumbo"></i>
      <p>Safe</p>
    </div>
  </div>
</div>

<!-- Pricing Section -->
<div class="w3-padding-64 w3-center w3-white">
  <h1 class="w3-jumbo"><b>Pricing</b></h1>
  <p class="w3-large">Available upon request, contact me for further details.</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-container">
      <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>London, UK</p>
      <p><i class="fas fa-at fa-fw w3-margin-right w3-large w3-text-teal"></i>sinclair.python@gmail.com</p>
      <p>
        <a href="https://sinclairconnect.herokuapp.com/textMe" class="w3-text-green">
          <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>07481790498
        </a>
      </p>
    </div>
  </div>
  <br>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-light-grey w3-center w3-xlarge">
  <div class="w3-section">
    <a href="#"><i class="fab fa-facebook-f w3-hover-opacity"></i></a>
    <a href="#"><i class="fab fa-instagram w3-hover-opacity"></i></a>
    <a href="#"><i class="fab fa-snapchat w3-hover-opacity"></i></a>
    <a href="https://github.com/SinclairPythonAkoto"><i class="fab fa-github w3-hover-opacity"></i></a>
    <a href="#"><i class="fab fa-twitter w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/sinclair-akoto-a6997a146/"><i class="fab fa-linkedin w3-hover-opacity"></i></a>
  </div>
  <p class="W3-medium">Back to
    <a href="{{ url_for('home') }}" class="w3-hover-text-green">
      <b>Portfolio</b>
    </a>
  </p>
  <p class="w3-medium">Created by
    <a href="{{ url_for('BondRobotics') }}" target="_blank" class="w3-hover-text-green">
      <b>BondRobotics</b>
    </a>
  </p>
</footer>

<script>
// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>

</body>
</html>
